/*### Welkom ###*/
/*Via dit bestand wordt de website aangepast naar een printvriendelijke versie*/

body {
    background:none;
    color:#000;

}

nav,header,footer,button,.collapse,.btn.navbar-brand,a,.btn {
    display: none;
}

.newpage {
    page-break-before: always;
}
.img-fluid {
    max-width:100%;
    height: auto;
    object-fit:none;
    border-radius: 0px;
    box-shadow:none;
}
.img-fluid-gallery {
    max-width:100%;
    height: auto;
    object-fit:none;
    box-shadow: none;
    margin:auto 0;
}