

/*navbar*/




/*banner / heading */
@media (min-width: 360px){
    header.banner {
        padding-top: 10.5rem;
        padding-bottom: 6rem;
        text-align: center;
        color: #fff;
        background-image: url("../img/header2.jpg");
        background-position: center center;
        background-size: cover;
    }

    header.banner .banner-subheading {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 25px;
        font-family: "Overlock";
        text-shadow: 3px 3px 2px #000;
    }

    header.banner .banner-heading {
        font-size: 5rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 2rem;
        font-family: "Alex Brush";
        text-shadow: 3px 3px 2px rgb(0, 0, 0);
    }
}

@media (min-width: 769px) {
    header.banner {
        padding-top: 15rem;
        padding-bottom: 7rem;
        text-align: center;
        color: #fff;
        background-image: url("../img/header2.jpg");
        background-position: center center;
        background-size: cover;
    }

    header.banner .banner-subheading {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 25px;
        font-family: "Overlock";
        text-shadow: 3px 3px 2px #000;
    }

    header.banner .banner-heading {
        font-size: 5rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 2rem;
        font-family: "Alex Brush";
        text-shadow: 3px 3px 2px rgb(0, 0, 0);
    }
}
@media (min-width: 1025px) {
    header.banner {
        padding-top: 30rem;
        padding-bottom: 25rem;
        text-align: center;
        color: #fff;
        background-image: url("../img/header2.jpg");
        background-position: center center;
        background-size: cover;
    }

    header.banner .banner-subheading {
        font-size: 3rem;
        line-height: 1.5rem;
        margin-bottom: 25px;
        font-family: "Overlock";
        text-shadow: 3px 3px 2px #000;
    }

    header.banner .banner-heading {
        font-size: 7rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 2rem;
        font-family: "Alex Brush";
        text-shadow: 3px 3px 2px rgb(0, 0, 0);
    }
}


/*main*/

/*footer*/
.footer {
    width: 100%;
    text-align: center;
    font-family: "overlock";
    background: #1c293c;
    color: #fff;
    padding:0.5rem 0;
}
footer p{
    font-size:0.8rem;
    margin:0.5rem;
}
/*rest*/

.fullsize {
    margin: auto;
    max-width: 100%;
    height: 100%;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-fluid {
    max-width:100%;
    height: auto;
    object-fit:cover;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:auto 0;
}
.img-fluid-gallery {
    max-width:100%;
    height: auto;
    object-fit:cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:auto 0;
}
.page-section {
    padding:3rem 0rem;
}

.page-section.first{
    margin-top:3rem;
}

#underline{
    border-bottom:1rem;
}
#bold{
    font-weight: bold;
}

.maps {
    max-width: 100%;
    max-height: 372px;

    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width: 360px){
    p{
        font-size:1.4rem;
    }
    .custom-pb-2 {
        padding-bottom: 2rem;
    }
    .custom-mb-2 {
        margin-bottom: 2rem;
    }
    .custom-mb-0 {
        margin-bottom: 0;
    }
    #link {
        font-size: 1.4rem;
        display: block;
        color: #1c293e;
        font-weight: 400;
        line-height: 1.5;
    }
}
@media (min-width: 768px){
    p{
        font-size:1.2rem;
    }
    .custom-pb-2 {
        padding-bottom: 2rem;
    }
    .custom-mb-2 {
        margin-bottom: 2rem;
    }
    .custom-mb-0 {
        margin-bottom: 0;
    }
    #link {
        font-size: 1.2rem;
        display: block;
        color: #1c293e;
        font-weight: 400;
        line-height: 1.5;
    }
}
@media (min-width: 992px) {
    p {
        font-size: 1.2rem;
    }

    .custom-pb-2 {
        padding-bottom: 2rem;
    }
    .custom-mb-0 {
        margin-bottom: 0rem;
    }
    .custom-mb-2 {
        margin-bottom: 0;
    }

    #link {
        font-size: 1.2rem;
        display: block;
        color: #1c293e;
        font-weight: 400;
        line-height: 1.5;
        text-decoration:none;
    }
    #desktophide {
        display: none;
    }
}
.zoom {
    transition: transform .2s;
    width: auto;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
}

}
#paddingmap {
    padding-top:0.8rem;
}
table,td{
    font-size:1rem;
    border:3px solid;
    padding:0.3rem;
    border-color: #1c293d;
    background-color: #f6f7f9;
    font-weight: bold;
}
th{
    font-weight: bold;
    font-size:1.2rem;
    border:3px solid;
    padding:0.5rem;
    border-color: #000;
    background-color: #1c293d;
    color: #fff;
}

.footer .link {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    display: block;
    color:#fff;
    text-decoration: none;
}
#nomargin {
    margin-bottom: 0;
}
#link {
    font-size: 1.2rem;
    display: block;
    color: #1c293e;
    text-decoration:none;
}
