/*### Welkom ###*/
/*Hieronder vind u de op maat gemaakte styling terug opgedeeld in segmenten.*/
/*Elk segment begint met en eindigt met een comment die beschrijft voor welk gedeelte het mag dienen.*/
/*Ik heb gewerkt met media queries per segment omdat me dit overzichtelijker leek om achteraf aanpassingen te doen.*/

/*body start*/
::selection {
    color: #ffffff;
    background: #1c293d;
}

a.link1:hover {
    color: #cbcbcb;
}
a.link2:hover{
    color: #000;
    font-weight: bold;
}

body {
    min-height: 100vh;
}
@media (min-width: 360px){
    p{
        font-size:1.4rem;
    }
    .custom-pb-2 {
        padding-bottom: 2rem !important;
    }
    .custom-mb-2 {
        margin-bottom: 2rem !important;
    }
    .custom-mb-0 {
        margin-bottom: 0 !important;
    }
    .link {
        font-size: 1.4rem;
        display: block;
        color: #1c293e;
        font-weight: 400;
        line-height: 1.5;
        text-decoration: none;
    }
}
@media (min-width: 768px){
    p{
        font-size:1.2rem;
    }
    .custom-pb-2 {
        padding-bottom: 0rem !important;
    }
    .custom-mb-2 {
        margin-bottom: 0rem !important;
    }
    .custom-mb-0 {
        margin-bottom: 0 !important;
    }
    .link {
        font-size: 1.2rem;
        display: block;
        color: #1c293e;
        font-weight: 400;
        line-height: 1.5;
        text-decoration: none;
    }
}
@media (min-width: 992px) {
    p {
        font-size: 1.2rem;
    }

    .custom-pb-2 {
        padding-bottom: 0rem !important;
    }
    .custom-mb-0 {
        margin-bottom: 0rem !important;
    }
    .custom-mb-2 {
        margin-bottom: 0 !important;
    }

    .link {
        font-size: 1.2rem;
        display: block;
        color: #1c293e;
        font-weight: 400;
        line-height: 1.5;
        text-decoration:none;
    }
}
/*body end*/

/*banner / heading start */

@media (min-width: 360px){
    header.banner {
        padding-top: 10.5rem;
        padding-bottom: 6rem;
        text-align: center;
        color: #fff;
        background-image: url("../img/header2.jpg");
        background-position: center center;
        background-size: cover;
    }

    header.banner .banner-subheading {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 25px;
        font-family: "Overlock";
        text-shadow: 3px 3px 2px #000;
    }

    header.banner .banner-heading {
        font-size: 5rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 2rem;
        font-family: "Alex Brush";
        text-shadow: 3px 3px 2px rgb(0, 0, 0);
    }
}

@media (min-width: 769px) {
    header.banner {
        padding-top: 15rem;
        padding-bottom: 7rem;
        text-align: center;
        color: #fff;
        background-image: url("../img/header2.jpg");
        background-position: center center;
        background-size: cover;
    }

    header.banner .banner-subheading {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 25px;
        font-family: "Overlock";
        text-shadow: 3px 3px 2px #000;
    }

    header.banner .banner-heading {
        font-size: 5rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 2rem;
        font-family: "Alex Brush";
        text-shadow: 3px 3px 2px rgb(0, 0, 0);
    }
}
@media (min-width: 1025px) {
    header.banner {
        padding-top: 30rem;
        padding-bottom: 25rem;
        text-align: center;
        color: #fff;
        background-image: url("../img/header2.jpg");
        background-position: center center;
        background-size: cover;
    }

    header.banner .banner-subheading {
        font-size: 3rem;
        line-height: 1.5rem;
        margin-bottom: 25px;
        font-family: "Overlock";
        text-shadow: 3px 3px 2px #000;
    }

    header.banner {
        padding-top: 30rem;
        padding-bottom: 25rem;
        text-align: center;
        color: #fff;
        background-image: url("../img/header2.jpg");
        background-position: center center;
        background-size: cover;
    }
}
/*banner / heading end*/


/*footer start*/
.footer {
    width: 100%;
    text-align: center;
    font-family: "overlock";
    background: #1c293c;
    color: #fff;
    padding:0.5rem 0;
}
footer p{
    font-size:0.8rem;
    margin:0.5rem;
}
.footer .link {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    display: block;
    color:#fff;
    text-decoration: none;
}
/*footer end*/

/*404-page start*/

@media (min-width: 360px){
    body.notfound {
        background-color:#000;
        background-image: url("../img/test-background2.jpg");
        background-repeat: no-repeat;
        background-size:100%;
        background-position-y: bottom
    ;
    }

    h1.notfound {
        font-family: Fira Sans;
        font-size:5rem;
        text-align: center;
        color:#fff;
    }
    h3.notfound {
        font-family: Fira Sans;
        font-size:2rem;
        text-align: center;
        color:#fff;
    }
    p.notfound{
        font-family: Fira Sans;
        font-size:2rem;
        text-align: center;
        color:#fff;
        text-shadow: 3px 3px 2px #000;
    }
    img.notfound {
        display:block;
        margin:0 auto;
        height: 10rem;
    }
    a.notfound{
        margin:0 auto !important;
        text-align: center;
    }
}


@media (min-width: 769px) {
    body.notfound {
        background-color: #000;
        background-image: url("../img/test-background2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 5rem;
        background-size:100%;
    }
    p.notfound{
        font-family: Fira Sans;
        font-size:2rem;
        text-align: center;
        color:#fff;
        text-shadow: 3px 3px 2px #000;
    }
    h1.notfound {
        font-family: Fira Sans;
        font-size:5rem;
        text-align: center;
        color:#fff;
        text-shadow: 3px 3px 2px #000;
    }
    h3.notfound {
        font-family: Fira Sans;
        font-size:2rem;
        text-align: center;
        color:#fff;
        text-shadow: 3px 3px 2px #000;
    }

    img.notfound {
        display:block;
        margin:0 auto;
        height: 10rem;
    }
}

@media (min-width: 992px) {
    body.notfound {
        background-color: #000;
        background-image: url("../img/test-background2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size:80%;
        margin-top:5rem;
    }
    p.notfound{
        font-family: Fira Sans;
        font-size:2rem;
        text-align: center;
        color:#fff;
        text-shadow: 3px 3px 2px #000;
    }
    h1.notfound {
        font-family: Fira Sans;
        font-size:5rem;
        text-align: center;
        color:#fff;
        text-shadow: 3px 3px 2px #000;
    }
    h3.notfound {
        font-family: Fira Sans;
        font-size:2rem;
        text-align: center;
        color:#fff;
        text-shadow: 3px 3px 2px #000;
    }

    img.notfound {
        display:block;
        margin:0 auto;
        height: 10rem;
        text-shadow: 3px 3px 2px #000;
    }
}
/*404-page end*/


/*image styling start*/
.fullsize {
    margin: auto;
    max-width: 100%;
    height: 100%;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-fluid {
    max-width:100%;
    height: auto;
    object-fit:cover;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:auto 0;
}
.img-fluid-gallery {
    max-width:100%;
    height: auto;
    object-fit:cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:auto 0;
}
.img-fluid-404 {
    max-width:100%;
    height: auto;
    object-fit:cover;
    margin:auto 0;
}
.maps {
    max-width: 100%;
    max-height: 372px;
    border:20px;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.zoom {
    transition: transform .2s;
    width: auto;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.25);
}
/*image styling end*/

/*Table start*/
table,td{
    font-size:1rem;
    border:3px solid;
    padding:0.3rem;
    border-color: #1c293d;
    background-color: #f6f7f9;
    font-weight: bold;
}
th{
    font-weight: bold;
    font-size:1.2rem;
    border:3px solid;
    padding:0.5rem;
    border-color: #000;
    background-color: #1c293d;
    color: #fff;
}
/*Table end*/

/*list start*/

.customli{
    list-style-type: square;
}
li::marker {
    color: #2d4265;
}


/*list end*/

/*rest*/
.nomargin {
    margin-bottom: 0 !important;
}
.page-section {
    padding:3rem 0rem;
}

.page-section.first{
    margin-top:3rem;
}

#underline{
    border-bottom:1rem;
}
.bold{
    font-weight: bold;
}
#paddingmap {
    padding-top:0.8rem;
}

.bottom{
    bottom:0;
}

